<!DOCTYPE html>
<html lang = "es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Nimbus Statistics Email">
	<meta name="author" content="Ncubo Ideas SA">
	<title>Nimbus Statistics report</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<style>body{padding-top:50px;}.starter-template{padding:40px 15px;text-align:div;}</style>

<!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<div class = "container">
	<B>Estadisticas!</B>

	<br>
	Nimbus template test.
	<br>

	#if ($visitasTotales != "0")
	<div id="visitas-totales">
		<h3>Visitas Totales</h3>
		<hr>
		<span>Visitas Totales: $visitasTotales</span>
		<br>
	</div>
	<br>
	#end
	
	#if ($nombreDetallado != "")
	<div id="producto-mas-visitado">	
		<h3>Producto m&aacute;s visitado</h3>
		<hr>
		<h4>Producto:</h4>
		<img src=$imagenProdMasVis alt="producto mas visitado" height="200" width="300">
		<h4>Nombre: </h4>
		<span>$nombreDetallado</span>
	</div>
	<br>
	<br>
	#end
	
	#if ($productoMasVendidoNombre != "")
	<div id="producto-mas-vendido">
		<h3>Producto m&aacute;s vendido</h3>
		<span>$productoMasVendidoNombre</span>
		<hr>
		<br>
	</div>
	#end

	#if (!$usuariosPais.isEmpty())
	<div id="visitas-por-pais">
		<h3>Visitas por pa&iacute;s</h3>
		<hr>
		<br>
		<table class="table table-striped">
			<tr>
				<th>Pais</th>
				<th>Provincia</th>
				<th>Usuarios</th>
			</tr>
			
			#foreach($usuario in $usuariosPais)
			<tr>
				<td>$usuario.col0</td>
				<td>$usuario.col1</td>
				<td>$usuario.col2</td>
			</tr>
			#end
		</table>
	</div>
	#end
	
	<div id="contacto">
		<h3>Contacto</h3>
	</div>
	</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
